{% extends 'base.html' %}
{% block content %}
<h1>Post</h1>

<ul>
    {% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"> {{post.title}}</a> - 
        {{post.author.first_name}}
        {{post.author.last_name}} -
        <small>
        {{post.published_date}} 
        {% if user.is_authenticated %}
            <b><a href="{% url 'update_post' post.pk %}" class="text-success">Edit</a></b>
            <b><a href="{% url 'delete_post' post.pk %}" class="text-danger">Delete</a></b>
        {% endif %}
        </small>
        <br>
        {{post.body|slice:":120"|safe}}...</li>
    {% endfor %}
</ul>
{% endblock content %}